<% provide(:title, '「1カップ」どこでも同じ量じゃない？') %>


<h2>「1カップ」どこでも同じ量じゃない？</h2>

<p>
「牛乳&nbsp;1カップ、砂糖&nbsp;大さじ1杯・・・」なんてフレーズは、料理レシピではとてもよく出てきます。<br>
ですが、この「1カップ」も「大さじ1杯」も、国が変わると量が変わる可能性があるって知っていましたか?<br>
日本では200mlである「1カップ」も、アメリカでは235ml、カナダやオーストラリアでは250ml、イギリスでは280mlと、かなりバラバラ。<br>
海外のレシピを見て料理するときには、どの国のレシピなのかも意識する必要がありますね。<br>
</p>
    
<div>
    <table class="table-striped table-bordered">
      <tbody>
      <tr>
        <th>
            <%#= options_for_select([['日本', 1], ['アメリカ', 2], ['イギリス', 3], ['カナダ', 4], ['オーストラリア', 5]]) %>
        <select name="city_id_1" id="city_id_1">
          <option value="1">日本</option>
          <option value="2">アメリカ</option>
          <option value="3">イギリス</option>
          <option value="4">カナダ</option>
          <option value="5">オーストラリア</option>
         </select>
         </th>
        <th>
         <select name="city_id_2" id="city_id_2">
          <option value="1">日本</option>
          <option value="2" selected="selected">アメリカ</option>
          <option value="3">イギリス</option>
          <option value="4">カナダ</option>
          <option value="5">オーストラリア</option>
         </select>
        </th>
      </tr>
      <tr>
       <td><input type="text" size="5" id="cups_jp"> cups (JP)</td>
       <td><input type="text" size="5" id="cups"> cups</td>
       <td><input type="text" size="5" id="cups_fl_oz"> 液量オンス（fl oz）</td>
       <td><input type="text" size="5" id="cups_pints"> pints</td>
      <tr>
       <td></td>
       <td><input type="text" size="5" id="cups_quarts"> quarts</td>
       <td><input type="text" size="5" id="cups_milliliters"> cc/mL</td>
       <td><input type="text" size="5" id="cups_liters"> liters</td>
      </tr>

      </tr>
      <tr>
        <td>大さじ<input type="text" size="5" id="tablespoons_jp"> 杯(JP)</td>
        <td><input type="text" size="5" id="tablespoons"> Tbsp</td>
       <td><input type="text" size="5" id="tablespoons_milliliters"> cc/mL</td>
       <td><input type="text" size="5" id="tablespoons_liters"> liters</td>
      </tr>
      <tr>
        <td>小さじ<input type="text" size="5" id="teaspoons_jp"> 杯(JP)</td>
        <td><input type="text" size="5" id="teaspoons"> tsp</td>
       <td><input type="text" size="5" id="teaspoons_milliliters"> cc/mL</td>
       <td><input type="text" size="5" id="teaspoons_liters"> liters</td>
      </tr>
      <tr>
        <td><input type="text" size="5" id="milliliters_jp"> cc/mL</td>
        <td><input type="text" size="5" id="milliliters_fluid_ounces"> fl oz</td>
        <td><input type="text" size="5" id="milliliters_pints"> pints</td>
        <td><input type="text" size="5" id="milliliters_jiggers"> jiggers</td>
        <td><input type="text" size="5" id="milliliters_gills"> gills</td>
      </tr>
      <tr>
        <td><input type="text" size="5" id="liters"> liters</td>
        <td><input type="text" size="5" id="liters_quarts"> quarts</td>
        <td><input type="text" size="5" id="liters_gallons"> gallons</td>
      </tr>
    </tbody>
    </table>
      
</div>

    <p id="message" style="margin: 0px; padding: 0px 0px 9px; color: black;"></p>
    <input id="calculate_button" class="btn btn-success btn-sm" type="button" value="換　算" onClick="calculate()" >
    <input id="toggle_button" class="btn btn-success btn-sm" type="button" value="分数表示に変換" disabled="">
    <input id="clear_button" class="btn btn-default btn-sm" style="color: #FFFFFF; background: #2A120A;" type="reset" value="リセット">
    

    <br><br>

    