<% provide(:title, '地域による好きな味の傾向って？') %>



<h2>地域による好きな味の傾向って？</h2>
<div>
 <p>
  海外在住や中長期滞在をすると、日本食のパーティを開いてほしい！なんていうリクエストを貰うことがあります。
  けれど、身近なスーパーで食材も調味料もすべて手に入るわけではないし、モノによっては入手できたとしても高価だし、
  そもそもその国で認識されている日本食は、日本人が認識している日本食と少し違う、なんてこともあります。
  どんなものをふるまえばよいか、地域別に傾向をまとめてみました。
 </p>
</div>

<div>
 <p> 
  <h3>
     北アメリカ
  </h3>
  基本的には、焼き鳥、牛丼などの甘辛い味付けが好まれます。子供が好きそうなメニューが喜ばれるそうです。
  焼きそばについてはピザのトッピングにもなっているので喜ばれやすく、チキン南蛮や鶏のから揚げはとても受けがいいそうです。<br><br>

  また、ヘルシー志向の人たちにも寿司と天ぷらはとても受けが良いです。特に現地のレストランで提供されている巻き寿司の中には、
  サツマイモなどの野菜の天ぷらが入っていることも多く、慣れているためかもしれません。<br>
  枝豆についても健康食として人気が出ていますので、手間がかからない一品として用意することをお勧めします。<br><br>

  なお、スパイスの匂いが強いものは好まれない傾向があるそうで、カレーライスなどは匂いが苦手な人も少なくないよう。

 </p>
</div>


<div>
 <p> 
  <h3>
     ラテンアメリカ
  </h3>
  
  
 </p>
</div>


<div>
 <p> 
  <h3>
     ヨーロッパ
  </h3>
  
  
 </p>
</div>


<div>
 <p> 
  <h3>
     アジア
  </h3>
  
  
 </p>
</div>

<div>
 <p> 
  <h3>
     オセアニア
  </h3>
  
  
 </p>
</div>

<div>
 <p> 
  <h3>
     アフリカ
  </h3>
  
  
 </p>
</div>
