<% provide(:title, 'どこまでOK？ベジタリアンに御馳走するなら') %>


<h2>どこまでOK？ベジタリアンに御馳走するなら</h2>
<div>
 <p>
  日本にいるとあまり意識しないことですが、海外で日本食を作るとなると、主に2つの理由で使用できる食材が限られてしまいます。それは宗教によるもの、そして信念によるものです。
  特に複数の友人をもてなすときには、あの人はあれがだめで、この人はこれがだめで、その人はそれがだめだから・・・と、頭を抱えてしまう原因になるかもしれません。
 </p>
</div>

<div>

  <h3>
     宗教や社会的立場が理由の場合
  </h3>
  <p> 
  ユダヤ教とイスラム教ではブタ、ヒンズー教では牛がダメというのは基本です。
  ただ、厳格にこの掟を守っている人から「後で神様に謝っておけばよい」という人まで個人差が大きいです。
  さらに、社会的立場や家庭の事情により禁止されている食材がある場合もあります。
  どれほど厳格なのか、直接質問してみましょう。
  </p>
</div>
<div>
  <h3>
     ベジタリアンの場合
  </h3>
 <p> 
  ベジタリアンには、段階があります。肉も魚介類も卵も乳製品もNGという徹底したビーガンの人から、肉は食べないけれど卵や乳製品はOKという人も。
  さらに、日によってはこれは食べる、故郷の特産品だからこの種類の貝だけは食べる、なんていうちょっと気まぐれな人もいます。
  日本食は肉や魚が基本の出汁になっていたり、メイン食材になっていることが多く、一般的にはあまりベジタリアン・フレンドリーではありません。<br>
  なお、観光地での精進料理の英語表記では、「ベジタリアン向け」となっていることが多いです。もし精進料理を自力で作れるようであれば、それも一興かもしれません。
 </p>
</div>

<div>
 <p>
  どんな日本食を食べたいのか、海外の人は具体的なイメージをすでに持っているかもしれません。
  ここまでで紹介した内容を念頭において、どんな料理を作るかを考える前に一度友人と話し合ってみましょう。
 </p>
</div>