<% provide(:title, 'ワット数が違う？！電子レンジの温め時間は') %>

<div align="center">
摂氏<input size="10" value="0" id="c_txt">°C&nbsp;
<input type="button" value="--変 換→" id="btn" class="btn btn-success">&nbsp;
華氏<input readOnly size="10" id="f_txt">°F
</div>
