<% provide(:title, 'オーブンの温度を°Fにしたい！') %>
<!--
<script type="text/javascript" src="/assets/oven_temp.js"></script>
-->

<h2>オーブンの温度を°Fにしたい！</h2>

<p>キッチンでオーブンを借りようとして、ふいに手が止まる瞬間。それはオーブンの設定温度を華氏(°F)で設定しないとならない時です。<br>
天気予報で報じられる気温は日本と同じ摂氏（°C）なのに、オーブンは華氏なんて地域もあります。<br>
日本で使い慣れている摂氏から、華氏に簡単に計算できる自動計算機を用意しました。<br>
</p>


<div align="center">
摂氏<input size="10" value="0" id="c_txt">°C&nbsp;
<input type="button" value="--変 換→" id="btn" class="btn btn-success">&nbsp;
華氏<input readOnly size="10" id="f_txt">°F
</div>

<p>
<table class="table table-striped table-bordered table-condensed" id="oven_temp_ex" cellspacing="0" border="0">
よく使われる温度変換一覧&nbsp; ( ° C → ° F)
</p>
<tbody><tr>
<th> ° C </th>
<th class="fdo table-center"> ° F </th>
<th> ° C </th>
<th class="fdo table-center"> ° F </th>
<th> ° C </th>
<th class="fdo"> ° F </th>
</tr>

<tr>
<td class="cdo"> 110 </td>
<td class="fdo table-center"> 230 </td>
<td class="cdo"> 160 </td>
<td class="fdo table-center"> 320 </td>
<td class="cdo"> 220 </td>
<td class="fdo"> 428 </td>
</tr>

<tr>
<td class="cdo"> 120 </td>
<td class="fdo table-center"> 248 </td>
<td class="cdo"> 170 </td>
<td class="fdo table-center"> 338</td>
<td class="cdo"> 230 </td>
<td class="fdo"> 446 </td>
</tr>

<tr>
<td class="cdo"> 130 </td>
<td class="fdo table-center"> 266 </td>
<td class="cdo"> 180 </td>
<td class="fdo table-center"> 356 </td>
<td class="cdo"> 240 </td>
<td class="fdo"> 464 </td>
</tr>


<tr>
<td class="cdo"> 140 </td>
<td class="fdo table-center"> 284 </td>
<td class="cdo"> 190 </td>
<td class="fdo table-center"> 374 </td>
<td class="cdo"> 250 </td>
<td class="fdo"> 482 </td>
</tr>

<tr>
<td class="cdo"> 150 </td>
<td class="fdo table-center"> 302 </td>
<td class="cdo"> 200 </td>
<td class="fdo table-center"> 392 </td>
<td class="cdo"> 260 </td>
<td class="fdo"> 500 </td>
</tr>

</tbody></table>
<p align="right">
  <small> * 華氏 (°F) は小数点第二位を四捨五入して表示しています。</small>
</p>

<br>
<p>
なお、製品によっては摂氏と華氏の切り替えができるものもあるそうです。一度設定を確認してみてもよいかもしれません。    
</p>