<% provide(:title, '調味料検索') %>

<% unless @seasoning_recipes.empty? %>
  <table>
    <% @seasoning_recipes.each do |seasoning_recipe| %>
      <tr>
        <td>
          <%= link_to seasoning_recipe.title, '#' %>&ensp;
        </td>
        <td>
          所要時間<%= p seasoning_recipe.cook_time %>分&ensp;
        </td>
        <td>
          <%= p seasoning_recipe.serving %>人分
        </td>
      </tr>
    <% end %>
  </table>
<% end %>

