@import "bootstrap";

/* universsal */
.col-md-9 {
  margin-bottom: 50px;
}
/*
button.wasabi {
  btn-success;
}
*/

/* sidebar */

/* header */

#logo {
  float: left;
  margin: 0px 10px 10px 0px;
}


/* sidebar */

p.sidebar {
    margin-top: 25px;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
  a {
    color: $gray;
    &:hover {
      color: #555;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
      font-size: 8px;
    }
  }
}