@import "bootstrap";

/* universsal */
.col-md-9 {
  margin-bottom: 50px;
}

#search_button{
  text-align: center;
}

span.search_button {
  margin-right: 30px;
}

a:link { color: blue; }
a:visited { color: purple; }
a:hover { color: red; }
a:active { color: yellow; }

h3 {
  background-color: #f7f6eb;
}


table#oven_temp_ex {
  margin: 0px;
	border: 1px dashed #999;
	border-right-width: 0px;
}

table#oven_temp_ex tr th {
	background-color: #392D2A;
		padding: 4px;
	color: white;
	width: 40px;
	text-align: center;
	font-weight: bold;
}

table#oven_temp_ex tr th.fdo {
	border-right: 1px solid #999;
}

table#oven_temp_ex tr td.cdo {
	background-color:	#FAFAD2;
	color: #392D2A;
	padding: 4px;
	width: 40px;
	text-align: center;
	font-weight: bold;
}

table#oven_temp_ex tr td.fdo {
	background-color: #FFE6D9;
	color: #392D2A;
	padding: 4px;
	width: 40px;
	text-align: center;
	font-weight: bold;
	border-right: 1px solid #999;
}

table#oven_temp_ex tr td.table-center {
	border-right: 1px dashed #564456;
 }
/* sidebar */

/* header */

#logo {
  float: left;
  margin: 0px 10px 10px 0px;
}

.navbar-default {
  background-color:	#FAFAD2; 
}

/*
li.active {
  background-color:	#f7f6eb; 
}
*/

/* sidebar */

p.sidebar{
    margin-top: 25px;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
  a {
    color: $gray;
    &:hover {
      color: #555;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
      font-size: 8px;
    }
  }
}