<footer class="footer">
  <small>
    Copyright (C) 2015 XXXXXXXXXXXXXX. All Rights Reserved.
  </small>
  <nav>
    <ul>
      <li><%= link_to "お問い合わせ",  '#' %></li>
      <li><%= link_to "プライバシーポリシー", '#' %></li>
      <li><%= link_to "利用規約",  '#' %></li>
    </ul>
  </nav>
</footer>