<header class="navbar-header">
<div id="logo-exp">
  <%# ↓消しました。 %>
  <%#= link_to image_tag("logo_mihon2.jpg", alt: "SeasoningDictionary"), '#', id:"logo" %>
  <%# <small>Seasoning Dictionaryとは、海外で友人に「日本の料理を作って！」リクエストに応える、料理下手な日本人のための調味料逆引きレシピです。</small> %>

</div>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
     </button>

      <%# ↓追加しました %>
      <%= link_to image_tag("logo00.gif", alt: "SeasoningDictionary"), '/', id:"logo" %>

    </div>


    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <%# ↓追加しました %>
      <small>
        シーズニングディクショナリーとは、海外での「日本の料理を作って！」リクエストに応える、料理下手な日本人のための調味料逆引きレシピです。

      <ul class="nav navbar-nav">
        <li class="active"><a href="#">自作調味料・レシピ検索 <span class="sr-only">(current)</span></a></li>
        <li><a href="#">カテゴリ検索</a></li>
        <li><a href="#">Link1</a></li>
        <li><a href="#">Link1</a></li>
        <li><a href="#">ログイン</a></li>
      </ul>
      </small>
      
      <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

</header>