<header class="navbar-header">
<div id="logo-exp">
</div>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
     </button>
      <%= link_to image_tag("logo00.gif", alt: "SeasoningDictionary"), '/', id:"logo" %>
    </div>


    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <small>
        シーズニングディクショナリーは、海外での「日本の料理を作って！」リクエストに応える、料理下手な日本人のための調味料逆引きレシピです。

      <ul class="nav navbar-nav">
        <li><%= link_to '自作調味料・レシピ検索', root_path %></li>
        <li><%= link_to 'カテゴリ検索', seasoning_categories_path %></li>
        <li><%= link_to 'ログイン', '#' %></li>
      </ul>
      </small>
      
      <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button class="btn btn-default btn-sm" style="color: #FFFFFF; background: #2A120A;" type="submit">レシピ検索</button>
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

</header>