<form role="search">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Search">
  </div>
  <button class="btn btn-info"  type="submit">レシピ名検索</button>
</form>

<p class="sidebar">お役立ちリンク</p>
 <ul>
  <li><%= link_to "##4", '#' %></li>
  <li><%= link_to "##5", '#' %></li>
  <li><%= link_to "##6", '#' %></li>
 </ul>